name: Release & Publish With Sampo
on:
  push:
    branches: [ master ]
  workflow_dispatch: {}

permissions:
  contents: write        # Create tags and releases
  pull-requests: write   # Create and update release PRs
  discussions: write     # Open GitHub Discussions (optional)

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Sampo Release/Publish Action
        id: sampo
        uses: bruits/sampo/crates/sampo-github-action@main
        with:
          create-github-release: true # create github release for cargo binstall
          release-assets: |
            target/release/cargo-usage-rules
          # Options here, see below
        env:
          CARGO_TOKEN: ${{ secrets.CRATES_IO_KEY }} # For Cargo packages (optional)
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}     # For npm packages (optional, uses .npmrc if not set)
          # HEX_API_KEY: ${{ secrets.HEX_API_KEY }} # For Hex packages (optional)